html, body {
  text-align: center;
  font-family:monospace;
}

html, body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  /*background-image: image("wall30.png");*/
  background-image: url('img/wall30.png');
}


.title{
  margin-top: 200px;
 
}
.startbutton{
 
 
}