html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-image: image("wall30.png");*/
}
